@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS */
:root {
  --color-main: #001fd8;
  --color-main-dark: #171e4d;
  --color-secondary: #5deb96;
  --color-secondary-light: #a0e1ff;
  --color-text-grey: #5b5b5b;
  --color-text-grey-light: #8a8a8a;
  --color-bg-grey: #f8f7f5;
}
/* body {
  width: 100vw;
} */
html {
  font-size: 10px;
}
* {
  font-family: "Outfit", sans-serif;
}

/* UTILS */

/* COLORS */
.background-grey {
  background: var(--color-bg-grey);
}

/* BTN */
.btn_main {
  height: 64px;
  padding: 0 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
}
.btn_header {
  height: 40px;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
}
.btn_dark {
  color: #fff;
  background: var(--color-main);
  border-color: var(--color-main);
}
.btn_trans {
  color: #000;
  background: transparent;
  border-color: #000;
}
.padding_10 {
  padding: 0 10rem !important;
}

/* CARD */
.card {
  max-width: 270px;
  height: 290px;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--color-main-dark);
  border-radius: 20px;
}

/* HEADING */
.heading {
  font-weight: 600;
  color: var(--color-main-dark);
}
.heading_light {
  font-weight: 600;
  color: var(--color-main);
}
.heading_1 {
  font-size: 6.4rem;
  line-height: 120%;
  margin-bottom: 2rem;
}
.heading_2 {
  font-size: 4.6rem;
  margin-bottom: 1rem;
}
.heading_3 {
  font-size: 3.2rem;
}
.heading_4 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}
.heading_bonjour {
  font-size: 7rem;
}
.heading_card {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--color-secondary);
}

/* TEXT */
.text_dark {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-main-dark);
}
.text_black {
  font-size: 2.1rem;
  font-weight: 300;
  color: #000;
}
.text_grey {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-text-grey);
}
.text_grey-14 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-text-grey);
}
.text_white {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}
.text_green {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--color-secondary-light);
  text-decoration: underline;
}
.green_point {
  font-size: 10rem;
  line-height: 0;
  color: var(--color-secondary);
}
.underline {
  text-decoration: underline;
}

/* FORM */
.log_input {
  width: 100%;
  height: 5rem;
  padding-left: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.4rem;
  font-weight: 300;
  color: #000;
}
.log_input:focus {
  outline: none;
}

/* hamburgerMenuIcon */
#hamburgerMenuIcon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
#hamburgerMenuIcon span {
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#hamburgerMenuIcon span:nth-child(1) {
  top: 0px;
  transform-origin: left top;
}
#hamburgerMenuIcon span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}
#hamburgerMenuIcon span:nth-child(3) {
  top: 24px;
  transform-origin: left bottom;
}
#hamburgerMenuIcon.open span:nth-child(1) {
  width: 120%;
  transform: rotate(45deg);
}
#hamburgerMenuIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#hamburgerMenuIcon.open span:nth-child(3) {
  width: 120%;
  transform: rotate(-45deg);
}

/* ResponsiveNavBar */
#responsiveNavBar {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 75vw;
  height: 100vh;
  z-index: 9;
  transform: translate(100%, 0);
  transition: transform 0.5s;
}
#responsiveNavBar.open {
  transform: none;
  position: fixed;
}
#responsiveNavBar li {
  width: 80%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
