@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS */
:root {
  --color-main: #001fd8;
  --color-main-dark: #171e4d;
  --color-secondary: #5deb96;
  --color-secondary-light: #a0e1ff;
  --color-text-grey: #5b5b5b;
  --color-text-grey-light: #8a8a8a;
  --color-bg-grey: #f8f7f5;
  --color-white: #fff;
  --color-black: #000;
}
html {
  font-size: 10px;
}
* {
  font-family: "Outfit", sans-serif;
}
/* body {
  width: 100vw;
  overflow-x: hidden;
} */
/* globals */
article {
  padding: 0 2rem;
}
@media (min-width: 976px) {
  article {
    padding: 0 12rem;
  }
}

/* BTN */
.btn_main {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
}
.btn_dark {
  color: #fff;
  background: var(--color-main);
  border-color: var(--color-main);
}
.btn_trans {
  color: #000;
  background: transparent;
  border-color: #000;
}
.btn_submit {
  height: 40px;
  display: block;
  margin: auto;
  padding: 0 8rem;
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-white);
}
@media (min-width: 976px) {
  .btn_main {
    height: 64px;
    padding: 0 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
  }
  .btn_header {
    height: 40px;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
  }
  .btn_submit {
    height: 40px;
    margin-left: calc(15% + 4rem);
    padding: 0 8rem;
    border-radius: 100px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-white);
  }
}

/* CARD */
.card {
  max-width: 270px;
  height: 290px;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
.card_dark {
  background: var(--color-main-dark);
  color: var(--color-white);
}
.card_white {
  width: 100%;
  padding: 1rem 1rem;
  background: #fff;
  color: var(--color-main-dark);
}
.card_white h3 {
  font-size: 1.8rem;
  line-height: 120%;
  margin-bottom: 1rem;
}
.card_white h4 {
  font-size: 1.4rem;
}
.card span {
  color: var(--color-secondary);
}
.card h3 {
  font-size: 2.3rem;
  font-weight: 700;
}
.card h4 {
  font-size: 2.8rem;
  font-weight: 600;
}
.card p {
  font-size: 1.4rem;
  font-weight: 400;
}
.card_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card_wrapper_grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  gap: 1rem;
}
@media (min-width: 976px) {
  .card_wrapper_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
  }
  .card {
    max-width: 270px;
    height: 290px;
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }
}

/* hamburgerMenuIcon */
#hamburgerMenuIcon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
#hamburgerMenuIcon span {
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#hamburgerMenuIcon span:nth-child(1) {
  top: 0px;
  transform-origin: left top;
}
#hamburgerMenuIcon span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}
#hamburgerMenuIcon span:nth-child(3) {
  top: 24px;
  transform-origin: left bottom;
}
#hamburgerMenuIcon.open span:nth-child(1) {
  width: 120%;
  transform: rotate(45deg);
}
#hamburgerMenuIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#hamburgerMenuIcon.open span:nth-child(3) {
  width: 120%;
  transform: rotate(-45deg);
}

/* ResponsiveNavBar */
.responsive_navBar {
  width: 100%;
  height: calc(100vh - 100px);
  display: block;
  background: #fff;
  position: fixed;
  top: 99px;
  right: 0;
  z-index: 100;
  font-size: 1.6rem;
  transform: translate(100%, 0);
  transition: transform 0.5s;
}
.responsive_navBar.open {
  transform: none;
  /* position: fixed; */
}
.responsive_navBar_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.responsive_navBar li {
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.responsive_navBar_lastLink {
  border: none !important;
}
.responsive_navBar_lang {
  padding: 64px 0;
  display: flex;
  gap: 32px;
}

/* .icon {
  width: 98px;
  height: 98px;
  border-radius: 100px;
  background: var(--color-bg-grey);
} */

/* heading */
.heading_1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
}
.heading_2 {
  font-size: 3.4rem;
  font-weight: 600;
}
.heading_2_spec {
  font-size: 4rem;
  font-weight: 600;
}
.heading_3 {
  font-size: 2.8rem;
  font-weight: 600;
}
@media (min-width: 976px) {
  .heading_1 {
    font-size: 6.4rem;
  }
  .heading_2 {
    font-size: 4.6rem;
  }
  .heading_2_spec {
    font-size: 7rem;
  }
  .heading_3 {
    font-size: 3.2rem;
  }
}

/* text */
.navLinks {
  font-size: 1.4rem;
  font-weight: 400;
}
.desc_h1 {
  font-size: 2rem;
  font-weight: 300;
}
.paraph_h1 {
  font-size: 1.6rem;
  font-weight: 400;
}
.desc_h2 {
  font-size: 1.4rem;
  font-weight: 300;
}
.paraph_h2 {
  font-size: 2rem;
  font-weight: 400;
}
.desc_h2_spec {
  font-size: 2rem;
  font-weight: 600;
}
.green_point {
  font-size: 6rem;
  line-height: 0;
  color: var(--color-secondary);
}
.underline {
  text-decoration: underline;
}
.footer-text {
  font-size: 1rem;
  color: var(--color-text-grey);
}
@media (min-width: 976px) {
  .navLinks {
    font-size: 1.8rem;
  }
  .desc_h1 {
    font-size: 2.6rem;
  }
  .paraph_h1 {
    font-size: 2rem;
  }
  .desc_h2 {
    font-size: 1.8rem;
  }
  .paraph_h2 {
    font-size: 2.8rem;
  }
  .desc_h2_spec {
    font-size: 3.2rem;
  }
  .green_point {
    font-size: 10rem;
  }
  .footer-text {
    font-size: 1.4rem;
  }
}

/* colors */
.dark {
  color: var(--color-main-dark);
}
.light {
  color: var(--color-main);
}
.white {
  color: var(--color-white);
}
.green {
  color: var(--color-secondary-light);
}
.black {
  color: var(--color-black);
}
.grey {
  color: var(--color-text-grey);
}

/* background */
.background-grey {
  background: var(--color-bg-grey);
}
.background_dark {
  background: var(--color-main-dark);
}
.background_white {
  background: var(--color-white);
}
.background_trans {
  background: transparent;
}
.background-filter {
  background: rgba(255, 255, 255, 0.3);
}
/* form */
.form_contact {
  font-size: 1.4rem;
  font-weight: 300;
}
.form_contact > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.form_contact input {
  width: 100%;
  height: 4rem;
  padding-left: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.4rem;
  font-weight: 300;
  color: #000;
}
.form_contact textarea {
  width: 100%;
  height: 10rem;
  padding-left: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 4rem;
}
.log_input {
  width: 100%;
  height: 5rem;
  padding-left: 10px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.4rem;
  font-weight: 300;
  color: #000;
}
.log_input:focus {
  outline: none;
}
@media (min-width: 976px) {
  .form_contact {
    font-size: 2.4rem;
    font-weight: 300;
  }
  .form_contact > div {
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 4rem;
    margin-bottom: 8rem;
  }
  .form_contact label {
    justify-self: end;
  }
  .form_contact input {
    width: 100%;
    height: 5rem;
    padding-left: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
    font-weight: 300;
    color: #000;
  }
  .form_contact textarea {
    width: 100%;
    height: 20rem;
    padding-left: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
    font-weight: 300;
    color: #000;
  }
  .log_input {
    width: 100%;
    height: 5rem;
    padding-left: 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
    font-weight: 300;
    color: #000;
  }
  .log_input:focus {
    outline: none;
  }
}

header {
  position: relative;
  overflow-x: hidden;
}
